GEMINI_API_KEY=
DATABASE_URL=
PGSSL=true
PGSSL_REJECT_UNAUTHORIZED=false
JWT_SECRET=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_DELEGATED_USER_EMAIL=
GOOGLE_API_KEY=
